/.idea
/.gradle
/build

/monomial-api/.idea
/monomial-api/.gradle
/monomial-api/build

/monomial-provider-fabric/.idea
/monomial-provider-fabric/.gradle
/monomial-provider-fabric/build
/monomial-provider-fabric/run